body, html{
	width: 100%;
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	color: white;
	background-color: black;
}

/*hero image*/
.hero{
	background-image: url(\header.jpg);
	height: 93%;
	width: 100%;
	background-size: cover;
	font-family:'Caveat', cursive;
	color: white;
}

h1{
		font-size: 7rem;
}

h2{
	color: white;
	font-size: 3rem;
}

h3{
		font-size: 2rem;
}

.content{
	margin: 0px 10px;

}

.navbar{
	background-color: black;
	font-size: 1.3em;
}

.card{
	color: black;
}