.links{
    width: auto;
    height: auto;
    position: fixed;
    right:0;
    top: 50px;
    background-color: var(--dark-blue);
    opacity: 90%;
    font-size: 20px;
    padding-top: 20px;
}

a{
    text-decoration: none;
    color: var(--bright-green);
}

ul{
    padding: 0px 5px;
    list-style: none;
    text-align: center;
}

li{
    padding: 5px;
    margin-bottom: 20px;
}

li:hover{
    color: var( --accent-green);
    cursor: pointer;
}